*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
.text-md{
  font-size: 15px;
}
.text-xl{
  font-size: 25px;
}
.text-3xl{
  font-size: 40px;
}
.bg-body-tertiary{
  background-color: white !important;
  border-bottom: 1px solid #ccc;
}
.font-sans{
  font-family: serif;
  font-weight: bolder;
  text-align: center;
}
.w-90{
  width: 90%;
}
.font-sm{
  font-size: smaller;
  font-weight: 500;
  padding: 0 2px;
}
.outline-none{
  border: 0;
}
.outline-none:active{
  border: none;
  outline: none;
}
.absolute{
  position: absolute;
  top: 0;
  width: 100%;
}
.mt-4rem{
  margin-top: 4rem;
}
.text-xs{
  font-size:x-small;
}
.text-s{
  font-size:small;
}
.footer-links{
  text-decoration: underline;
  color: white;
}
.text-trg{
  letter-spacing: 0.1rem;
}
b span{
  font-weight: normal;
}
.pt-border{
  border-top: 1px solid black;
}
.middle{
  align-items: center;
}
.ml-5{
  margin-left: 1rem;
}
.text-normal{
  font-size: 14px;
}
.bolder{
  font-weight: bolder;
}
.bold{
  font-weight: bold;
}
ul li{
  margin-bottom: 1rem;
}
.semibold{
  font-weight: 600;
}
.text-middle{
  padding-top: 1rem;
  margin-left: 1rem;
}
.underline{
  border-bottom: 1px solid black;
}
.border-dot{
  border: 1px dotted black;
  margin:1rem 0;
}
.float-left{
  float: left;
}
.w-30{
  width: 30%;
}
.border-b{
  padding-bottom: 5rem;
  border-bottom: 1px solid black;
}
.signup-card{
  border: 1px solid black;
  border-top: 3px solid black;
}
.sign-up{
  padding: .3rem .5rem;
  background-color: black;
  color : white;
  border: none;
  text-align: center;
}
.input-signup{
  border: 1.5px solid black;
  border-radius: 0% !important;
}
.input-signup:focus{
  outline: none;
}